<div class="page">
  <div style="display:flex;flex-direction:column;align-items:center;margin:4rem 1rem;color:white;">
    <div class="statistic-choice" id="stat-choice">
      <%= image_tag("fbi-logo.png") %>
      <hr style="margin: 1rem 0;"/>
      <h1>
        Welcome To Payday Charts
      </h1>
      <hr style="margin: 2rem 0;"/>
      <h4>
        Pick a stat to view the leaderboard for it
      </h4>
      <hr style="margin: 0.5rem 0;"/>
      <div style="min-width: 300px;max-width: 400px;">
        <%= render(StatSearchComponent.new) %>
      </div>
      <hr style="margin: 2rem 0;color:white;width:100%"/>
      <span>
        This website is not affiliated with Starbreeze or Steam in any way
      </span>
      <hr style="margin: 0.5rem 0;"/>
    </div>
  </div>
</div>