<div class="background-image"></div>
<div class="page">
  <div style="display:flex;flex-direction:column;align-items:center;margin:4rem 1rem;">
    <div class="statistic-choice portlet-container" id="stat-choice">
      <h1>
        Leaderboard
      </h1>
      <hr style="margin: 2rem 0;"/>
      <h3>Choose Statistic</h3>
      <hr style="margin: 0.5rem 0;"/>
      <div style="min-width: 300px;max-width: 400px;">
        <%= render(StatSearchComponent.new) %>
      </div>
      <hr style="margin: 0.5rem 0;"/>
    </div>
  </div>
</div>