<div class="background-image"></div>
<div class="page">
  <div style="display:flex;flex-direction:column;align-items:center;margin:4rem 1rem;">
    <div class="statistic-choice portlet-container" id="stat-choice">
      <h1>
        Welcome To Payday Charts
      </h1>
      <hr style="margin: 2rem 0;"/>
      <h3>
        This website has many things related to Payday. Specifically Payday 2
      </h3>
      <h3>
        The main feature is leaderboards. There are also statistics on combined community data.
      </h3>
      <h3>
        Finally there are a few miscellaneous games and tools. Check out the nav bar or sidemenu for all items
      </h3>
      <hr style="margin: 2rem 0;"/>
      <h4>
        Pick a stat to view the leaderboard for it
      </h4>
      <hr style="margin: 0.5rem 0;"/>
      <div style="min-width: 300px;max-width: 400px;">
        <%= render(StatSearchComponent.new) %>
      </div>
      <hr style="margin: 0.5rem 0;"/>
    </div>
  </div>
</div>