<div class="m-4 lg:w-1/2 lg:mx-auto">
    <%= render TileComponent.new(title: "Currently Under Maintenance") do %>
        <div class="space-y-4">
            <div class="text-sm text-zinc-400 mt-1">
                The top 100 leaderboards are currently under maintenance. Please wait for them to come back up.
            </div>
        </div>
    <% end %>
</div>