<div class="background-image"></div>
<div class="page">
  <div style="display:flex;flex-direction:column;align-items:center" class='page-container'>
    <div class='new-user-container'>
      <p class='add-user-form'>Input a user's steam ID to find which leaderboards they are on</p>
      <p>Steam ID's can be found <a href='https://steamid.xyz/' target='_blank'>here</a></p>
      <%= simple_form_for :user do |f| %>
        <%= f.input :steam_id, label: 'Steam 64 ID', input_html: {class: 'add-user-form'} %>
        <%= f.button :submit, 'Check Stats', class: 'add-user-form submit-button btn btn-primary', id: 'submit-button' %>
      <% end %>
    </div>
  </div>
</div>

<script>
  $('#submit-button').on('click', (e) => {
    e.preventDefault()
    if ($('#user_steam_id').val().length) {
      window.location.href = `/leaderboards/${$('#user_steam_id').val()}/top_100`
    }
  })
</script>