#leaderboard-table .current_user {
  background-color: limegreen;
  transform: scale(101%)
}

.leaderboards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4rem 1rem;
  color: white;
}

#leaderboard-table-mobile_wrapper {
  display: none;
}

.leaderboard-header {
  display: flex;
  width: 100%;
  align-items: stretch;
}

.new_user,
.user {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}

.new-user-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 2rem;
  padding: 0.5rem;
  align-items: center;
  width: 50%;
}

.statistic-choice-container {
  min-width: 80%;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.add-user-text-field {
  width: 100%;
}

.add-user-icon {
  height: 100px;
}

.leaderboard-image {
  margin: 2rem;
  max-height: 150px
}

.leaderboard-container {
  width: 100%;
}

.profile-links {
  list-style-type: none;
}

.profile-links a {
  margin: 0.5rem 0;
  text-decoration: none;
  display: block;
}

#add-player-mobile {
  display: none;
}

.dropdown-arrow {
  width: 16px;
}

@media (max-width: 768px) {
  .leaderboards-container {
    margin: 0
  }

  #leaderboard-table_wrapper {
    display: none;
  }

  #leaderboard-table-mobile_wrapper {
    display: block;
    max-width: 100%;
    font-size: 80%;
  }

  .leaderboard-header {
    flex-direction: column;
  }

  .new-user-container {
    width: 100%;
    margin: 0.25rem 0;
  }

  .statistic-choice-container {
    min-width: 90%;
    margin-bottom: 0.25rem;
  }

  .add-user-icon {
    display: none;
  }

  .leaderboard-image {
    display: none;
  }

  #leaderboard-table-mobile_wrapper .dt-layout-start button {
    margin: 0 0.25rem;
  }

  #leaderboard-table-mobile_wrapper td button {
    width: 100%;
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    padding: 0;
    justify-content: space-between;
  }

  #add-player-container {
    display: none;
  }

  #add-player-mobile {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0.25rem;
  }

  #add-player-mobile button {
    border: none;
  }

  #add-player-mobile h2 {
    margin: 0;
  }

  .add-player-dropdown {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  #add-player {
    margin-bottom: 0.25rem;
  }
}