<div class="mx-8 my-16 flex justify-center">
  <div class="lg:w-1/2 space-y-8">
    <div class="text-3xl font-bold">
      Logging in through steam will enable a few extra features
    </div>

    <hr/>

    <ul class="space-y-4 list-disc">
      <li>Your SteamID will be accessible to us allowing certain stats to be displayed more easily</li>
      <li>Additionally a few extra stats will be available. Such as your perkdeck usage, and position on leaderboards</li>
      <li>We do not gain access to any sensitive information about your account</li>
      <li>Learn more about Steam OpenID <a href="https://steamcommunity.com/discussions/forum/1/620696522175992548/" target="blank" class="text-blue-500">Here</a></li>
    </ul>    
    
    <hr/>

    <div class="flex justify-center">
      <%= simple_form_for :login, url: redirect_to_steam_sessions_path, data: { turbo: false } do |f| %>
        <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
          Sign in through steam
          <svg width="20" height="20" viewBox="0 0 16 16" aria-hidden="true" style="fill: white;">
            <path d="M8 0a8 8 0 00-8 7.47c.07.1.13.21.18.32l4.15 1.67a2.2 2.2 0 011.31-.36l1.97-2.8v-.04c0-1.65 1.37-3 3.05-3a3.03 3.03 0 013.05 3 3.03 3.03 0 01-3.12 3l-2.81 1.97c0 .3-.05.6-.17.9a2.25 2.25 0 01-4.23-.37L.4 10.56A8.01 8.01 0 108 0zm2.66 4.27c-1.12 0-2.03.9-2.03 2s.91 1.99 2.03 1.99c1.12 0 2.03-.9 2.03-2s-.9-2-2.03-2zm0 .5c.85 0 1.53.66 1.53 1.49s-.68 1.5-1.53 1.5c-.84 0-1.52-.67-1.52-1.5s.68-1.5 1.52-1.5zM5.57 9.6c-.22 0-.43.04-.62.11l1.02.42c.65.26.95.99.68 1.62-.27.63-1 .93-1.65.67l-1-.4a1.73 1.73 0 003.13-.08c.18-.42.18-.88.01-1.3A1.69 1.69 0 005.57 9.6z"></path>
          </svg>
        <% end %>
      <% end %>
    </div>
  </div>
</div>