.nav-bar-container {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 56px;
  position: sticky;
  top: 0;
  z-index: 10;
}

.nav-element {
  border-right: 1px solid #bbb;
  display: flex;
  align-items: center;
}

.nav-element a,
.nav-element button {
  display: flex;
  color: white;
  text-align: center;
  text-decoration: none;
  align-items: center;
  height: 100%;
  padding: 0 1rem;
}

.nav-element button {
  background-color: transparent;
  border: none;
}

.nav-element a:hover,
.nav-element button:hover {
  background-color: #fff;
  color: black;
}

.nav-element .dropdown-menu .dropdown-item {
  color: black;
}

.nav-element .dropdown-menu .dropdown-item:hover {
  background-color: #BBBBBB
}

.nav-element-left {
  border-right: 1px solid #bbb;
}

.nav-element-right {
  border-left: 1px solid #bbb;
}

.active-nav {
  background-color: #0085b6;
}

.nav-input-title {
  display: block;
  padding: 12px 16px;
}

.small-search {
  width: 20rem;
}

.steam-avatar {
  margin-right: 0.5rem;
  height: 32px;
  width: 32px;
}