.chart-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 24px;
  margin-top: 1rem;
}

.portlet-container.chart-navigation-container {
  padding: 0.5rem;
}

.chart-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.pagination-container {
  display: flex;
}

.nav-input {
  display: flex;
  align-items: center;
}

#pagination-numbers {
  display: flex;
}

.pagination-number,
.pagination-button {
  font-size: 1.1rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: .2rem;
}

.pagination-number:hover,
.pagination-button:not(.disabled):hover {
  background: #fff;
  color: black;
}

.pagination-button:disabled,
.pagination-button[disabled] {
  color: #666666;
}

.pagination-number.active {
  color: #fff;
  background: #0085b6;
}

@media (max-width: 1920px) {
  .chart-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 768px) {
  .chart-container {
    grid-template-columns: 1fr;
  }

  .chart-navigation {
    flex-direction: column;
    align-items: center;
  }
}