.guess_who_board .common {
  background-image: url("https://fbi.paydaythegame.com/assets/img/weapons/skins/rarity-1.png")
}

.guess_who_board .uncommon {
  background-image: url("https://fbi.paydaythegame.com/assets/img/weapons/skins/rarity-2.png")
}

.guess_who_board .rare {
  background-image: url("https://fbi.paydaythegame.com/assets/img/weapons/skins/rarity-3.png")
}

.guess_who_board .epic {
  background-image: url("https://fbi.paydaythegame.com/assets/img/weapons/skins/rarity-4.png")
}

.guess_who_board .legendary {
  background-image: url("https://fbi.paydaythegame.com/assets/img/weapons/skins/rarity-5.png")
}

.rarity-background {
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-size: contain;
}

.turned {
  background: #222222;
}

.unturned {
  background: white;
}

.guess_who_card {
  cursor: pointer;

  -webkit-user-drag: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}