<% if params[:controller] == "leaderboards" %>
  <% if params[:action] == "show" %>
    <title><%= @stat.localize %></title>
  <% elsif params[:action] == "top_100" %>
    <title>
      Top 100 for <%= @leaderboard_user&.name %>
    </title>
  <% else %>
    <title>Payday Charts</title>
  <% end %>
<% else %>
  <title>Payday Charts</title>
<% end %>